%html
  %head
    %title Kentfield School District - Log In
  %body
    :css
      body { 
        font-family:arial,helvetica,sans-serif;
        font-size: 80%;
        margin: 40px;
      }
    =yield
